
    .dialogs_page__rules_dialogs__list_dialogs__card {
        display: grid;
        width: 100%;
        height: 100%;
        border: 1px solid white;
        justify-content: center;
        align-content: center;
        background-color: thistle;
        cursor: pointer;
      }
 