.container__user_information_page {
  width: 100vw;
  height: 90vh;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: repeat(2, 1fr);
  background: rgb(215, 237, 255);
  background: radial-gradient(
    circle,
    rgba(215, 237, 255, 1) 0%,
    rgba(255, 255, 255, 1) 43%,
    rgba(255, 255, 255, 1) 100%
  );
}

@media (max-width: 1280px) {
  .container__user_information_page {
    max-width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  /* .container__user_information_page div,
  .container__user_information_page span{
    max-width: 100vw;
    margin: 0;
    padding: 0;        
    box-sizing: border-box
  } */
}

@media (max-width: 640px) {
  .container__user_information_page {
    /* grid-template-columns: 1fr; */
    grid-template-rows: repeat(3, 1fr);
  }
}
