.dialogs_page__dialog_page__window_dialog {
    display: grid;
    background-color: white;
    max-height: 100%;
    min-width: 100%;
    justify-content: center;
    align-content: center;
    color: #7a7a77;
    grid-template-rows: 90% 10%;    
  }

  .dialogs_page__dialog_page__window_dialog__list_message {
    width: 80vw;
  }
  
  .dialogs_page__add_dialogs_button {
    display: grid;
    cursor: pointer;
  }