.container__all_users__header {
  display: grid;
  position: fixed;
  font-size: 40px;
  margin: 0 auto;
  background-color: white;
  width: 100vw;
  z-index: 10;
  height: 100px;
  padding-left: 25%;
  padding-right: 25%;
  justify-content: center;
  align-content: center;
  color: rgb(65, 21, 65);
  top: 64px;
  /* grid-template-columns: 15% 60% 15%; */
}

.container__all_users__header__sort_checkbox {
  position: absolute !important;
  right: 5%;
  top: 25px;
}

.container__all_users__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 95%;
  margin: 0 auto;
  justify-items: center;
  row-gap: 1%;
  padding-top: 100px;
}
