.user_profile__user_information {
  border: 1px solid black;
  display: grid;
  grid-template-rows: 60% 40%;
  height: 300px;  
}

.user_profile__user_information__block_information h4 {
  text-align: center;
}

.user_profile__user_information__block_information div {
  display: grid;
  grid-template-columns: 1fr 95%; 
  margin: 0 5%;
}

.user_profile__user_information__block_information p {
  margin: 1px;
}

.user_profile__user_information__button_to_go_over_edit_user_information {
  display: grid;
  justify-self: end;
  height: 50px;
  margin: 50px; 
}

.user_profile__user_information__button_to_go_over_edit_user_information a button {
  border-radius: 35%; 
  height: 100%;
}
