.All_Users__Pagination_Block {    
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: grid;
    grid-template-columns: 30% 70%;
    height: 10%;
}

.All_Users__Pagination_Block__Select_block {
    display: grid;
    justify-content: center;
}

.All_Users__Pagination_Block__Button_block {
    display: grid;
    justify-items: center;
    background-color: tomato;
    grid-template-columns: 40% 20% 40%;
} 

.All_Users__Pagination_Block__Button_block button {
    width: 60%;
    font-size: large;
}

.All_Users__Pagination_Block__Button_block div {
    align-self: center;
    font-size: large;
}