.navbar__navigation_block__container {
  display: grid !important;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 !important;
  padding: 0 !important;
}

.navbar__navigation_block__container li {
  display: grid;
  justify-content: center;
  padding: 0;
}

.navbar__navigation_block__container a {
  text-decoration: none;
  color: white;
}

.navbar__navigation_block__container button {
  font-size: 1vw;
}

@media (max-width: 1024px) {
  .navbar__navigation_block__container button {
    font-size: 1.5vw;
  }
}

@media (max-width: 1024px) {
  .navbar__navigation_block__container button {
    font-size: 1.8vw;
  }
}

@media (max-width: 440px) {
  .navbar__navigation_block__container {
    min-height: 5vw !important;
  }
  .navbar__navigation_block__container button {
    font-size: 2.5vw;
  }
}
