/* .user_profile__card_container {
  width: 200px;
  height: 200px;
} */

.user_profile__create_list__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 15px;
  /* justify-content: center; */
}
