.user_profile__card_container {
    width: 200px;
    height: 200px;
    background-color: chartreuse;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
}

.user_profile__create_list__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
}