.all_users__header_block__search_box {
  display: grid;
  grid-template-columns: 10% 90%;
}

.all_users__header_block__search_box svg {
  margin-top: 10px;
  margin-left: 20px;
}

.all_users__header_block__search_box__input {
  padding-left: 30px;
  /* border-bottom-width: 1px; */
}
