body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wrapper {
  max-width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
  display: grid;
  grid-template-rows: 1fr 9fr;
}

.navbar_container {
}

.main {
  /* overflow: hidden; */
}

/* .edit {
  margin-left: 60%;
} */

.form-data-users {
  display: grid;
  justify-content: center;
  margin-top: 10%;
}

input:not([type]),
input[type="text"]:not(.browser-default),
input[type="text"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea {
  border-bottom: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type="file"] {
  opacity: 0;
}

input[type="submit"] {
  opacity: 0;
}

/* @media (max-width: 1280px) {

  .wrapper {
    width: 100vw;
    height: 100%;
    overflow-y: hidden;
    display: grid;
    grid-template-rows: 1fr 9fr;
  }

} */
